body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

ul {
	margin: 0;
	padding: 0;
}

.container {
	width: 1140px;
	margin: 0 auto;
}


.btn {
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	border-radius: 20px;
}

.btn-blue {
	background-color: #00aeef;
	color: #1e1e1e;
}


/*стили верхнего меню*/
.top-menu {
	background-color: #353535;
}

.top-menu-list {
	display: flex;
	justify-content: space-between;
	height: 45px;
	align-items: center;
	list-style: none;
}

.top-menu-list a {
	text-decoration: none;
	color: #bfbfbf;
	font-size: 30px;
}

/*Информация хэдера-инфо*/
.header-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 120px;
}

.officies a,  .feedback a {
	color: #1e1e1e;
	font-size: 16px;
}

.contacts {
	color: #1e1e1e;
	font-size: : 18px;
}

/*стили меню*/
.menu {
	background-color: #e0e0e0;
}

.menu-list {
	display: flex;
	justify-content: space-between;
	height: 60px;
	align-items: center;
	list-style: none;
}

.menu-list a {
	text-decoration: none;
	color: #1e1e1e;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

/*стили контентной части*/

.content {
	display: flex;
	margin-top: 34px;
	justify-content: space-between;
}

.services {
	width: 1140px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.services-info {
	background-image: url(img/general.png);
	width: 1140px;
	height: 600px;
	margin-bottom: 12px;
}

.services-info h1 {
	margin-top: 0;
}

.color h1 {
	font-weight: 900;
	color: white;
}

.services-info1 {
	background-color: #F5F5F5;
	width: 1140px;
	height: 2000px;
	margin-bottom: 12px;
}

.services-info2 {
	background-color: #F5F5F5;
	width: 1140px;
	height: 300px;
	margin-bottom: 12px;
}

.services-info3 {
	background-color: #F5F5F5;
	width: 1140px;
	height: 1500px;
	margin-bottom: 12px;
}


/*********************Начало стилей footer**********************/

.footer {
	margin-top: 36px;
	background-color: #f5f5f5;
	overflow: auto;
}

.footer-item {
	float: left;
	margin-top: 17px;
}

.footer-item a {
	font-size: 14px;
	line-height: 52px;
	color: #1e1e1e;
	text-decoration: none;
}

.footer-item a:hover {
	text-decoration: underline;
}

.footer-item p {
	margin: 0;
	font-size: 12px;
	line-height: 16px;
	color: #a6a6a6;
}

.copyright {
	width: 318px;
}

.footer-feedback {
	width: 260px;
	margin-left: 94px;
}

.info {
	width: 372px;
	margin-left: 96px;
}

.info p {
	margin-top: 19px;
}

/*********************Конец стилей footer**********************/